##
Import packages:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##
Call matplotlib inline

In [2]:
%matplotlib inline

##
read in files and check data

In [3]:
gdp_df=pd.read_csv('../data/gdp_percapita.csv',nrows=6868)

In [4]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN

In [5]:
internet_df=pd.read_csv('../data/internet_use.csv',nrows=4495)

In [6]:
print(gdp_df.info())
print(internet_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6868 non-null   object
 1   Year             6868 non-null   int64
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496 entries, 0 to 4495
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4496 non-null   object
 1   Year             4496 non-null   object
 2   Value            4495 non-null   float64
 3   Value Footnotes  948 non-null    float64
dtypes: float64(2), object(2)
memory usage: 140.6+ KB
None

##
check size of dataframes 
1. gdp_df has 4 columns and 6,868 rows (not including headers)
2. Internet_df has 4 columns and 4495 rows (not including headers)

In [7]:
print(gdp_df.tail(10))
print(internet_df.tail(10))

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN
     Country or Area      Year     Value  Value Footnotes
4486        Zimbabwe      2001  0.799846              NaN
4487        Zimbabwe      2000  0.401434              NaN
4488        Zimbabwe      1999  0.161676              NaN
4489        Zimbabwe      1998  0.081648              NaN
4490        Zimbabwe      1997  0.033080              NaN
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

##
Drop column from both tables. Used inplace to replace tables rather than duplicate them.

In [8]:
gdp_df.drop(['Value Footnotes'], axis=1, inplace=True)

In [9]:
internet_df.drop(['Value Footnotes'], axis=1, inplace=True)

In [10]:
print(gdp_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6868 non-null   object
 1   Year             6868 non-null   int64
 2   Value            6868 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 161.1+ KB
None

In [11]:
print(internet_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496 entries, 0 to 4495
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4496 non-null   object
 1   Year             4496 non-null   object
 2   Value            4495 non-null   float64
dtypes: float64(1), object(2)
memory usage: 105.5+ KB
None

##
Rename columns in both tables. Used inplace to replace column names instead of create duplicate table. Printed each table to check results.

In [12]:
gdp_df.rename(columns={'Country or Area': 'Country', 'Value': 'GDP_Per_Capita'}, inplace=True)
print(gdp_df.info())
internet_df.rename(columns={'Country or Area': 'Country', 'Value': 'Internet_Users_Pct'}, inplace=True)
print(internet_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         6868 non-null   object
 1   Year            6868 non-null   int64
 2   GDP_Per_Capita  6868 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 161.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496 entries, 0 to 4495
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             4496 non-null   object
 1   Year                4496 non-null   object
 2   Internet_Users_Pct  4495 non-null   float64
dtypes: float64(1), object(2)
memory usage: 105.5+ KB
None

##
Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.
Used a concat. Why don't you specify join here? Specified outer join and it results in incorrect rows further into questions.

In [28]:
gdp_and_internet_use=pd.concat([gdp_df, internet_df], ignore_index=True)
print(gdp_and_internet_use.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11363 entries, 0 to 11362
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             11363 non-null  object
 1   Year                11363 non-null  int64
 2   GDP_Per_Capita      6868 non-null   float64
 3   Internet_Users_Pct  4495 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 355.2+ KB
None

##Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [29]:
gdp_and_internet_use.head()

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2019     2065.036398                 NaN
1  Afghanistan  2018     2033.779002                 NaN
2  Afghanistan  2017     2058.383832                 NaN
3  Afghanistan  2016     2057.062164                 NaN
4  Afghanistan  2015     2068.265904                 NaN

##
Look at the last five rows to make sure the data is clean and as expected.

In [30]:
gdp_and_internet_use.tail(5)

        Country  Year  GDP_Per_Capita  Internet_Users_Pct
11358  Zimbabwe  1997             NaN            0.033080
11359  Zimbabwe  1996             NaN            0.016790
11360  Zimbabwe  1995             NaN            0.007684
11361  Zimbabwe  1994             NaN            0.001739
11362  Zimbabwe  1990             NaN            0.000000

##
Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [39]:
year_filter=gdp_and_internet_use['Year'].isin(['2009','2004','2014'])
gdp_and_internet_use=gdp_and_internet_use[year_filter]
gdp_and_internet_use.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             0 non-null      object
 1   Year                0 non-null      int64
 2   GDP_Per_Capita      0 non-null      float64
 3   Internet_Users_Pct  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes

##
Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.
Created new dfs, checked to see if filter worked.

In [33]:
year_2004=gdp_and_internet_use[(gdp_and_internet_use['Year'] == '2004')]
year_2009=gdp_and_internet_use[(gdp_and_internet_use['Year'] == '2009')]
year_2014=gdp_and_internet_use[(gdp_and_internet_use['Year'] == '2014')]
print(year_2004.head())

Empty DataFrame
Columns: [Country, Year, GDP_Per_Capita, Internet_Users_Pct]
Index: []

##
Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options).

In [24]:
print(year_2014.loc[year_2014['Internet_Users_Pct'] == max('Internet_Users_Pct')])

Empty DataFrame
Columns: [Country, Year, GDP_Per_Capita, Internet_Users_Pct]
Index: []